  body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #e6e6e6e6;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }


        .header{
          background-color: #2980b9;
          min-height: 150px;
        }

        .header h2{
            color: #e6e6e6e6;
            font-size: 40px;
            margin-bottom: 40px;
            margin-top: 45px;
            margin-left: 40px;
            display: flex;
            text-align: center;
        }

        .header p{
            color: #e6e6e6e6;
            font-size: 30px;
            margin-top: -75px;
            margin-right: 40px;
            margin-left: 30px;
            display: flex;
            text-align: right;
            justify-content: right;
            align-items: right;
        }

        .temp, .um, .dis, .mov {
            display: flex;
            font-size: 2em;
            margin: 15px 0;
            padding: 20px 40px;
            border-radius: 15px;
            background: linear-gradient(to right, #6dd5fa, #2980b9);
            color: white;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            transition: transform 0.2s;
            width: 350px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .temp:hover, .um:hover, .dis:hover, .mov:hover {
            transform: scale(1.05);
        }